@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #5BC0EB;
    padding: 20px;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px; 
}

.logo {
    width: 100px;
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Merriweather;
    font-size: 20px;
}


.titulo-introducao, 
.titulo-quem {
    text-align: center;
    margin-top: 120px;
    font-size: 45px;
    font-family: Lora;
    color: #0B3C5D;
}

.texto-introducao {
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
    color: #555555;
    font-family: Lora;
}

.botao-container {
    display: flex;
    justify-content: center; 

}

.botao-introducao {
    margin-top: 100px;
    background-color: #0B3C5D;
    color: white;
    padding: 1.7em 4em;
    font-size: 12px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
}

.botao-introducao:hover {
    background-color: #5BC0EB;
}

.sobre-container {
    max-width: 500px;
    align-items: center;
}        

.imagem-sobre {
    width: 300px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.titulo-sobre {
    font-size: 25px;
    color: #0B3C5D;
    margin-top: 90px;
    margin-left: 150px;
    position: relative;
}

.titulo-sobre::after {
    margin-top: 10px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
    height: 2px; 
    background-color: #0B3C5D; 
}

.texto-sobre {
    margin-top: 20px;
    margin-left: 150px;
    font-family: Lora;
}

.titulo-missao {
    font-size: 25px;
    color: #0B3C5D;
    margin-top: 90px;
    margin-left: 1200px;
    position: relative;
}

.titulo-missao::after {
    margin-top: 10px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5.2%;
    height: 2px; 
    background-color: #0B3C5D; 
}


.texto-missao {
    margin-top: 20px;
    margin-left: 1200px;
    margin-right: 150px;
    font-family: Lora;
}

.titulo-abordagem {
    font-size: 25px;
    color: #0B3C5D;
    margin-top: 90px;
    margin-left: 150px;
    position: relative;
}

.texto-abordagem {
    margin-top: 20px;
    margin-left: 150px;
    font-family: Lora;
    margin-right: 1400px;
}

.titulo-abordagem::after {
    margin-top: 10px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2%;
    height: 2px; 
    background-color: #0B3C5D; 
}

.titulo-diferenciais {
    font-size: 25px;
    color: #0B3C5D;
    margin-top: 90px;
    margin-left: 1200px;
    position: relative;
}

.titulo-diferenciais::after {
    margin-top: 10px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5%;
    height: 2px; 
    background-color: #0B3C5D; 
}

.texto-diferenciais {
    margin-top: 20px;
    margin-left: 1200px;
    margin-right: 150px;
    font-family: Lora;
}

.titulo-equipe {
    font-size: 25px;
    color: #0B3C5D;
    margin-top: 90px;
    margin-left: 150px;
    position: relative;
}

.titulo-equipe::after {
    margin-top: 10px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2%;
    height: 2px; 
    background-color: #0B3C5D; 
}

.texto-equipe {
    margin-top: 20px;
    margin-left: 150px;
    font-family: Lora;
    margin-right: 1400px;
}

.servicos {
    margin-top: 150px;
    margin-left: 20px;
}

.nosso-servico {
    margin-top: 100px;
    font-size: 45px;
    font-family: Lora;
    color: #0B3C5D;
}

