@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #5BC0EB;
    padding: 20px;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px; 
}

.logo {
    width: 100px;
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Merriweather;
    font-size: 20px;
}

.bem-vindo {
    padding: 188px;
    background-color: rgb(213, 228, 231) ;
}


.titulo-introducao, 
.titulo-quem {
    text-align: center;
    font-size: 65px;
    font-family: Lora;
    color: #0B3C5D;
}

.texto-introducao {
    margin-top: 100px;
    text-align: center;
    font-size: 35px;
    color: #555555;
    font-family: Merriweather;
}

.botao-container {
    display: flex;
    justify-content: center; 

}

.botao-introducao {
    margin-top: 100px;
    background-color: #0B3C5D;
    color: white;
    padding: 1.7em 5.5em;
    font-size: 12px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
}

.botao-introducao:hover {
    background-color: #5BC0EB;
}


.info-jornada {
    background-image: url(/ASSETS/saude.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex; /* Flexbox para centralizar o conteúdo */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.container-jornada {
    background-color: #ffffff;
    border-radius: 20px; /* Ajuste o arredondamento se necessário */
    text-align: center;
    max-width: 500px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    margin: 0 auto; /* Centraliza horizontalmente se necessário */
}

.titulo-saude {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px; /* Espaçamento entre o título e o texto */
    font-family: Lora;
    color: #0B3C5D;
    font-size: 40px;
}

.texto-saude {
    font-size: 16px;
    color: #555555;
    font-family: Merriweather;
    font-size: 20px;
}

.quem-container { 
    background-image: url(/ASSETS/file.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: -100px center;
    padding-top: 150px; /* Adiciona espaço acima do conteúdo sem mover a imagem */
    padding-bottom: 150px; /* margem baixo */ 
    
}

.sobre-container{
    max-width: 500px;
    align-items: center;
}

.sobre-direita {
    max-width: 500px;
    align-items: center;
    margin-left: 1270px;/*700px*/
}

.titulo-abordagem,
.titulo-visao,
.titulo-sobre,
.titulo-valores,
.titulo-missao {
    font-size: 25px;
    color: #0B3C5D;
    margin-top: 50px;
    margin-left: 150px;
    position: relative;
}

.titulo-abordagem::after,
.titulo-visao::after,
.titulo-sobre::after,
.titulo-valores::after,
.titulo-missao::after {
    margin-top: 10px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
    height: 2px; 
    background-color: #0B3C5D; 
}

.texto-abordagem,
.texto-visao,
.texto-missao,
.titulo-sobre {
    margin-top: 20px;
    margin-left: 150px;
    font-family: Merriweather;
}


.titulo-sobre {
    font-size: 25px;
    color: #0B3C5D;
    margin-top: 90px;
    margin-left: 150px;
    position: relative;
}

.titulo-sobre::after {
    margin-top: 10px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
    height: 2px; 
    background-color: #0B3C5D; 
}

.texto-sobre,
.texto-valores {
    margin-top: 20px;
    margin-left: 150px;
    font-family: Merriweather;
}

.servicos {
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas com tamanho igual */
    grid-gap: 20px; /* Espaço entre os itens */
    padding: 20px;
    justify-items: center; /* Centraliza os itens dentro das células */
    background-color: beige;
    box-shadow: inset 0px 1px #555555;
}

.nosso-servico {
    margin-left: 20px;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 45px;
    font-family: Lora;
    color: #0B3C5D;
    grid-column: 1 / -1; /* Faz com que o título ocupe toda a linha */
}

.servicos-caixas-psicologia,
.servicos-caixas-cardiologia,
.servicos-caixas-nutricao,
.servicos-caixas-ortopedia,
.servicos-caixas-pediatria,
.servicos-caixas-dermatologia,
.servicos-caixas-fisioterapia,
.servicos-caixas-odontologia,
.servicos-caixas-urologia {
    display: flex;
    align-content: center;
    padding: 40px;
    border: 1px solid #0B3C5D;
    border-radius: 10px;
    background-color: white;
    margin: 5px;
}

.imagem-servicos {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-right: 20px;
    object-fit: cover;
}

.info-servico {
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.titulo-psicologia,
.titulo-cardiologia,
.titulo-nutricao,
.titulo-ortopedia,
.titulo-pediatria,
.titulo-dermatologia,
.titulo-fisioterapia,
.titulo-odontologia,
.titulo-urologia {
    font-size: 40px;
    font-family: Lora;
    color: #555555;
    margin: 0;
}

.texto-psicologia,
.texto-cardiologia,
.texto-nutricao,
.texto-ortopedia,
.texto-pediatria,
.texto-dermatologia,
.texto-fisioterapia,
.texto-odontologia,
.texto-urologia {
    font-size: 20px;
    margin: 10px 0; /* Margem vertical para separar os elementos */
    font-family: Lora;
}

.botao-psicologia,
.botao-cardiologia,
.botao-nutricao,
.botao-ortopedia,
.botao-pediatria,
.botao-dermatologia,
.botao-fisioterapia,
.botao-odontologia,
.botao-urologia {
    width: 150px;
    margin-top: 10px; 
    background-color: #555555;
    color: white;
    padding: 0.7em 0.5em; 
    font-size: 12px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    text-align: center;
}

.botao-psicologia:hover,
.botao-cardiologia:hover,
.botao-nutricao:hover,
.botao-ortopedia:hover,
.botao-pediatria:hover,
.botao-dermatologia:hover,
.botao-fisioterapia:hover,
.botao-odontologia:hover,
.botao-urologia:hover {
    background-color: #949494;
}

.container-pai {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    width: 100vw;            
}

.texto-container {
    text-align: center;
    margin-bottom: 30px; 
}

.titulo-form {
    font-size: 40px;
    color: #0B3C5D;
    font-family: Lora;
    margin-bottom: 10px;
}

.texto-formulario {
    font-size: 20px;
    color: #555555;
    font-family: Merriweather;
}

/* Estiliza o formulário */
.formulario-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente o formulário */
    width: 100%;             /* Ocupar a largura total */
}

.container-form {
    background-color: beige;
    border-radius: 20px;
    max-width: 500px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

/* Estilos para o conteúdo do formulário */
.form-inscrever {
    font-family: Lora;
    font-size: 24px;
    color: #0B3C5D;
}

.asterisk {
    font-family: Lora;
    font-size: 10px;
}

.texto-form {
    font-family: Lora;
    font-size: 20px;
    color: #0B3C5D;
}

.clear.foot {
    text-align: center;
}
