@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #5BC0EB;
    padding: 20px;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px; 
}

.logo {
    width: 100px;
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Merriweather;
    font-size: 20px;
}


.titulo-introducao, 
.titulo-quem {
    text-align: center;
    margin-top: 120px;
    font-size: 45px;
    font-family: Lora;
    color: #0B3C5D;
}

.texto-introducao {
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
    color: #555555;
    font-family: Merriweather;
}

.botao-container {
    display: flex;
    justify-content: center; 

}

.botao-introducao {
    margin-top: 100px;
    background-color: #0B3C5D;
    color: white;
    padding: 1.7em 4em;
    font-size: 12px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
}

.botao-introducao:hover {
    background-color: #5BC0EB;
}


.info-jornada {
    margin-top: 100px;
    background-image: url(/ASSETS/saude.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex; /* Flexbox para centralizar o conteúdo */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.container-jornada {
    background-color: #ffffff;
    border-radius: 20px; /* Ajuste o arredondamento se necessário */
    text-align: center;
    max-width: 500px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    margin: 0 auto; /* Centraliza horizontalmente se necessário */
}

.titulo-saude {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px; /* Espaçamento entre o título e o texto */
    font-family: Lora;
    color: #0B3C5D;
    font-size: 40px;
}

.texto-saude {
    font-size: 16px;
    color: #666;
    font-family: Merriweather;
    font-size: 20px;
}

.sobre-container{
    max-width: 500px;
    align-items: center;
}

.sobre-direita {
    max-width: 500px;
    align-items: center;
    margin-left: 700px;
}

.titulo-abordagem,
.titulo-visao,
.titulo-sobre,
.titulo-valores,
.titulo-missao {
    font-size: 25px;
    color: #0B3C5D;
    margin-top: 30px;
    margin-left: 150px;
    position: relative;
}

.titulo-abordagem::after,
.titulo-visao::after,
.titulo-sobre::after,
.titulo-valores::after,
.titulo-missao::after {
    margin-top: 10px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
    height: 2px; 
    background-color: #0B3C5D; 
}

.texto-abordagem,
.texto-visao,
.texto-missao,
.titulo-sobre {
    margin-top: 20px;
    margin-left: 150px;
    font-family: Merriweather;
}


.titulo-sobre {
    font-size: 25px;
    color: #0B3C5D;
    margin-top: 90px;
    margin-left: 150px;
    position: relative;
}

.titulo-sobre::after {
    margin-top: 10px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
    height: 2px; 
    background-color: #0B3C5D; 
}

.texto-sobre,
.texto-valores {
    margin-top: 20px;
    margin-left: 150px;
    font-family: Merriweather;
}

.servicos {
    margin-top: 150px;
    background-color: beige;
    box-shadow: inset 0px 1px #555555;
    padding: 20px; /* Adiciona algum espaçamento interno */
}

.nosso-servico {
    margin-left: 20px;
    margin-top: 80px;
    font-size: 45px;
    font-family: Lora;
    color: #0B3C5D;
}

.servicos-caixas-psicologia,
.servicos-caixas-cardiologia,
.servicos-caixas-nutricao {
    display: flex;
    align-items: center; /* Alinha a imagem e o texto ao topo */
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.imagem-servicos {
    width: 200px; /* Define a largura fixa das imagens */
    height: 200px; /* Define a altura fixa das imagens */
    border-radius: 20px; /* Mantém o arredondamento dos cantos */
    margin-right: 20px; /* Espaço entre a imagem e o texto */
    object-fit: cover; /* Faz com que a imagem cubra a área sem distorcer */
}

.info-servico {
    display: flex;
    flex-direction: column; /* Alinha título, valor e botão verticalmente */
}

.titulo-psicologia,
.titulo-cardiologia,
.titulo-nutricao {
    font-size: 40px;
    font-family: Lora;
    color: #555555;
    margin: 0;
}

.texto-psicologia,
.texto-cardiologia,
.texto-nutricao {
    font-size: 20px;
    margin: 10px 0; /* Margem vertical para separar os elementos */
    font-family: Lora;
}

.botao-psicologia,
.botao-cardiologia,
.botao-nutricao {
    width: 150px;
    margin-top: 10px; 
    background-color: #555555;
    color: white;
    padding: 0.7em 0.5em; 
    font-size: 12px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    text-align: center;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.container-form{
    background-color: beige;
    border-radius: 20px; /* Ajuste o arredondamento se necessário */
    max-width: 500px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    margin: 0 auto; /* Centraliza horizontalmente se necessário */
}

.form-inscrever {
    font-family: Lora;
    font-size: 30px;
    color: #0B3C5D;
}

.asterisk {
    font-family: Lora;
    font-size: 10px;
}

.texto-form {
    font-family: Lora;
    font-size: 20px;
    color: #0B3C5D;
}












